
.parent {
    width: 500px;
    height: 500px;
    background-color: yellow;
    position: relative;
    top: 30px;
}


.child {
    width: 100px;
    height: 100px;
    background-color: green;
    top: 30px;
    left: 30px;
    position: inherit;
}