* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: aqua;
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;
    flex-direction: column;
}

.item {
    background-color: red;
    height: 60px;
    width: 60px;

}

.container .item:nth-child(2n-1) {
    background-color: purple;
}